# Hu and Liu Sentiment Lexicon

 List of English positive and negative opinion words

In [1]:
# Imports
import os
import re
import pandas as pd
import numpy as np

### Negative words (sample)

In [5]:
# Load negative words
with open('../data/raw/negative-words.txt') as f:
    neg = f.readlines()

neg = [re.sub("\n","",line) for line in neg if ";" not in line]
neg_df = pd.DataFrame({'word': neg, 'polarity': -1})
neg_df.dropna(inplace=True)
neg_df = neg_df.loc[neg_df['word']!="",:]
neg_df.sample(10)

               word  polarity
1066            die        -1
2505  intolerablely        -1
1714        fluster        -1
4344        twisted        -1
3870         sloppy        -1
1939          hangs        -1
3310         plague        -1
2276   incompatible        -1
836          dawdle        -1
690         contort        -1

### Positive words (sample)

In [7]:
# Load positive words
with open('../data/raw/positive-words.txt') as f:
    pos = f.readlines()

pos = [re.sub("\n","",line) for line in pos if ";" not in line]
pos_df = pd.DataFrame({'word': pos, 'polarity': 1})
pos_df.dropna(inplace=True)
pos_df = pos_df.loc[pos_df['word']!="",:]
pos_df.sample(10)

             word  polarity
626     excellent         1
726       festive         1
1508  restructure         1
1203        nifty         1
1213   nourishing         1
985   inestimably         1
635    excitement         1
1186       modern         1
1121         lush         1
1695   straighten         1

### Dictionary (sample)

In [8]:
opinion_dict = pd.concat([neg_df, pos_df])
opinion_dict.to_csv("../data/preprocessed/opinion_dict.csv", index=False)
opinion_dict.sample(10)

               word  polarity
985          desert        -1
1646          felon        -1
1033      detracted        -1
1421          dumps        -1
1283  dissatisfying        -1
301        cleverly         1
3748        selfish        -1
2602      jeeringly        -1
3060     objections        -1
4537     unsettling        -1

In [9]:
print(f"Total words: {len(opinion_dict)}")
print(f"Negative words: {(opinion_dict.polarity==-1).sum()}")
print(f"Positive words: {(opinion_dict.polarity==1).sum()}")

Total words: 6789
Negative words: 4783
Positive words: 2006