# Hu and Liu Sentiment Lexicon

 List of English positive and negative opinion words

In [1]:
# Imports
import os
import re
import pandas as pd
import numpy as np

In [6]:
os.chdir("..")

In [7]:
# Load negative words
with open('./data/raw/negative-words.txt') as f:
    neg = f.readlines()

neg = [re.sub("\n","",line) for line in neg if ";" not in line]
neg_df = pd.DataFrame({'word': neg, 'polarity': -1})
neg_df.dropna(inplace=True)
neg_df = neg_df.loc[neg_df['word']!="",:]
neg_df.head()

         word  polarity
1     2-faced        -1
2     2-faces        -1
3    abnormal        -1
4     abolish        -1
5  abominable        -1

In [8]:
# Load positive words
with open('./data/raw/positive-words.txt') as f:
    pos = f.readlines()

pos = [re.sub("\n","",line) for line in pos if ";" not in line]
pos_df = pd.DataFrame({'word': pos, 'polarity': 1})
pos_df.dropna(inplace=True)
pos_df = pos_df.loc[pos_df['word']!="",:]
pos_df.head()

        word  polarity
1         a+         1
2     abound         1
3    abounds         1
4  abundance         1
5   abundant         1

In [10]:
opinion_dict = pd.concat([neg_df, pos_df])
opinion_dict.to_csv("./data/preprocessed/opinion_dict.csv", index=False)
opinion_dict.head()

         word  polarity
1     2-faced        -1
2     2-faces        -1
3    abnormal        -1
4     abolish        -1
5  abominable        -1

In [11]:
print(f"Total words: {len(opinion_dict)}")
print(f"Negative words: {(opinion_dict.polarity==-1).sum()}")
print(f"Positive words: {(opinion_dict.polarity==1).sum()}")

Total words: 6789
Negative words: 4783
Positive words: 2006

In [12]:
print("Some negative words:")
neg_df.sample(10)

Some negative words:

                word  polarity
4327      trivialize        -1
4063        stranger        -1
1657          fickle        -1
1333       divergent        -1
3677      scandalous        -1
3266  pertinaciously        -1
257           banish        -1
2217      improbable        -1
208           attack        -1
2409   infringements        -1

In [13]:
print("Some positive words:")
pos_df.sample(10)

Some positive words:

                word  polarity
1943   well-educated         1
204        blameless         1
1769           sweet         1
970   impressiveness         1
1796    thoughtfully         1
1416      raptureous         1
1226         opulent         1
1506         restful         1
1949    well-managed         1
1405       qualified         1